*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: rgb(63, 63, 63);
    padding: 20px;
}
.display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: 10px;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.1);
    color: white;
}
.calculator form #equalbtn{
    width: 142px;
}
form .display input{
    flex: 1;
    text-align: right;
    padding-right: 10px;
    box-shadow: none;
    font-size: 50px;
}
